.input-container {
  width: 100%;
}

.regular-style {
  color: rgb(20, 20, 20);
  font-size: 14px;
  outline: none;
}

.regular-style::placeholder {
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}

.input-error {
  border: 1px solid rgb(165, 25, 25);
  color: rgb(187, 14, 14);
  font-size: 14px;
  outline: none;
}

.input-error::placeholder {
  color:red
}
